/* background colors and body width */
html {
    background-color: #7ABFBF;
}

body {
    width:1280px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
}
/* this removes top margin space */
h1 {
    display: none;
}
h2 {
    padding-top:190px; 
    margin-top:0;
}
/* nav bar */

nav {
    position:absolute;
    top:0;
    width:1280px;
    height:110px;
    box-shadow: -1px 9px 8px rgba(0, 0, 0, 0.2); 
	-webkit-box-shadow: -1px 9px 8px rgba(0, 0, 0, 0.2); 
	-moz-box-shadow: -1px 9px 8px rgba(0, 0, 0, 0.2); 
}
nav ul {
    display:grid;
    height:110px;
    margin-top: 0;
    padding-left: 0;
    grid-template-columns: 110px 150px 110px 110px 110px 110px 110px 110px 110px 130px 140px;
   
}
nav li {
    display:inline-block;
    /* border:1px solid black; */
    padding-top:20px;
}
 nav li a {
    text-decoration: none;
    color: #EB5428;
}

 nav li:first-child {
    background-color: #EB5428;
}

 /* search bar */

 form {
    position:absolute;
    top:130px;
    left:628px;
    display: inline-block;
}

 input {
    border: 2px solid #EB5428;
    width:200px;
    height: 27px;
}

 button {
    margin-top:2px;
    padding-top:2px;
    height:33px;
    width:40px;
    background-color: #EB5428;
    border: 2px solid #EB5428;
    position: relative;
    right:5px;
    top: 11.5px;
}

 .icon-tabler-search {
    right:2px;
    bottom:2px;
    position: relative;
}
 /* Street Tacos Section ~ flex */
.street-tacos-flex {
    display:flex;
    flex:30%;
    height:750px;
}

/* menu / img / p */
menu {
    border:2px solid #EB5428;
    width:300px;
    padding-left:0;
    margin:0;
    height:746px;
}
menu  li  {
    list-style: none;
    padding-top:30px;
}
menu a {
    color:#EB5428;
    text-decoration: none;
}
section img {
    height:750px;
}
.street-tacos-flex > p {
    height:750px;
    margin:0;
    padding-left:10px;
}

/* details section */

.details-section {
    background-color: #0D0D0D;
    color: #7ABFBF;
}
.details-section > h3 {
    padding-top:5px;
    margin-top:0;
}
.details-section > ul {
    padding-left:95px;
    padding-bottom:5px;
}
.details-section > ul > li {
    display: inline-block;
    list-style-type: none;
    /* padding-left:40px; */
    padding-right:150px;

}

/* directions / ingredients sections */

.directions-ingredients-section {
    display:flex;
}
 .ingredient-list > li {
    text-align: left;
    padding:8px;
    width: 200px;
}
.direction-list {
    width:900px;
}

.direction-list > li {
    text-align: left;
    padding:10px;
}

/* side dishes section */

aside {
    background-color: lightblue;
}
div > p {
    text-align: left;
    padding-left:40px;
}
div > h3 {
    text-align: left;
    padding-left:40px;
}
.grid-container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.icon-tabler-star{
position: relative;
top:5px;
}

/* footer */ 

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer img {
    width:120px;
    height:120px;
    position: relative;
    left:-250px;
    top:30px;
}
footer p {
    position: relative;
    top:-90px;
    left:100px;
    font-weight: bold;
}
footer ul {
padding-top:30px;

}
footer svg {
    position: relative;
    left:45px;
    bottom:10px;
}
footer li {
    display: inline;
    /* padding:10px; */
    
}
footer a {
    text-decoration: none;
    color:#EB5428;
}


/* media queries */

@media screen and (min-width: 414px) and (max-width:900px) {
    /* body setup */
body {
    width:768px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    margin-left:400px;
}
/* nav responsive */
 nav {
    width:768px;
    height:150px;
    position:absolute;
}
.medium-nav {
    position: relative;
    top:50px;
    right:261px;
}

nav li:first-child {
    position: relative;
    height: 35px;
    width: 61px;
    
}
nav li:last-child {
    position:relative;
    right:495px;
    bottom: 10px;
    font-size:12px;
}
.icon-tabler-tools-kitchen {
    position: relative;
    bottom:15px;
    width:40px;
    height:40px;
}
.icon-tabler-user-circle {
    width:25px;
    height:25px;
}
/* form responsive */
form {
    position:absolute;
    width:300px;
    top:-3px;
    margin-left: 200px;
}
/* street tacos section */
h2 {
    padding-top:170px; 
    padding-left:20px;
    text-align: left;
}
.street-tacos-flex {
    display: grid;
    grid-template-columns: 1fr;
}
menu {
    height:80px;
    width:768px;
    border:0;
    background-color: rgba(255, 255, 255, 0.7);
    position:absolute;
    top:218px;
}
menu li{
    display: inline-block;
    position: relative;
    padding-left:70px;
    padding-right:70px;
    bottom:20px;
   
}
section img {
    width:768px;
    height: auto;
    padding-bottom:10px;
}
/* details section */
.details-section {
    background: none;
    color: #7ABFBF;
    position: relative;
    top: 514px;
    width: 685px;
    left: 70px;
}
.details-section > ul > li {
    list-style-type: none;
    font-weight: bold;
    padding-bottom:5px;
}
.details-section > ul {
    margin:0;
}
.details-section > h3 {
    padding-right: 34px;
    padding-top:25px;
    margin-bottom:10px;
}
/* directions / ingredients section */
.directions-ingredients-section {
    position: relative;
    width:768px;
    padding-top: 491px;
}
.ingredient-list > li {
    text-align: left;
    padding:5px;
    width: 100px;
 }
 .direction-list {
    width:550px;
 }

 div > h3 {
     text-align: center;
     padding-left:40px;
 }
/* more dishes aside */

aside {
    position: relative;
    top: -35px;
    width:768px;
    height:227px;
}
aside img {
    width:70px;
    height:70px;
    float:left;
}
aside  div {
    padding-bottom:20px;
}
.grid-container {
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.float-right {
   padding-left:75px;
    margin:2px;
}
div > h4 {
    text-align: left; 
    padding-bottom: 6px;
}

/* footer */
footer img {
    width: 120px;
    height: 120px;
    position: relative;
    left: -21px;
    top: -5px;
}
footer p {
    position: relative;
    top: -13px;
    left: -34px;
    font-weight: bold;
    text-align: center;
}
footer ul {
    top: -38px;
    position: relative;
    right: 18px;
    width: 400px;
    
    }
}




