
/* background colors and body width */
html {
    background-color: #BADEDF;
}

body {
    width:1280px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
}
/* this removes top margin space */
h1 {
    display: none;
    
}
h2 {
    padding-top:200px; 
    padding-bottom:20px;
    margin-top:0;
    margin-bottom:0;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    background-color: #F2F3F1;
}
h3 {
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
}
h4 {
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
}
/* nav bar */

nav {
    position:absolute;
    top:0;
    width:1280px;
    height:110px;
    box-shadow: -1px 9px 8px rgba(0, 0, 0, 0.2); 
	
}
nav ul {
    display:grid;
    height:110px;
    margin-top: 0;
    padding-left: 0;
    grid-template-columns: 110px 150px 110px 110px 110px 110px 110px 110px 110px 130px 140px;
   
}
nav li {
    display:inline-block;
    /* border:1px solid black; */
    padding-top:20px;
}
 nav li a {
    text-decoration: none;
    color: #EB5428;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
}

 nav li:first-child {
    background-color: #EB5428;
}
.hamburger-menu {
    display:none;
}

 /* search bar */

 form {
    position:absolute;
    text-align: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 1280px;
    top:140px;
}

 input {
    border: 2px solid #EB5428;
    width:200px;
    height: 27px;
    font-family: 'Montserrat', sans-serif;
    font-size:16px;
}

 button {
    margin-top:2px;
    padding-top:2px;
    height:33px;
    width:40px;
    background-color: #EB5428;
    border: 2px solid #EB5428;
    position: relative;
    right:5px;
    top: 9.8px;
}

 .icon-tabler-search {
    right:2px;
    bottom:2px;
    position: relative;
}
 /* Street Tacos Section ~ flex */
.street-tacos-flex {
    display:flex;
    flex:30%;
    height:750px;
    background-color: #F2F3F1;
}

/* menu / img / p */
menu {
    border:2px solid #EB5428;
    width:535px;
    padding-left:0;
    margin:0;
    height:746px;
}
menu  li  {
    list-style: none;
    padding-top:30px;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
}
menu a {
    color:#EB5428;
    text-decoration: none;
}
section img {
    height:750px;
}
.street-tacos-flex > p {
    height:750px;
    margin:0;
    line-height: 2;
    font-family: 'Montserrat', sans-serif;
    font-size:16px;
    padding:20px;
    padding-top:0;
    padding-left:10px;
} 
.black-letter {
    color:#0D0D0D;
}


/* details section */

.details-section {
    background-color: #0D0D0D;
    color: #7ABFBF;
}
.details-section > h3 {
    padding-top:10px;
    margin-top:0;
    margin-bottom:7px;
}
.details-section > ul {
padding-right:42px;
margin-top:0;
    
}

.details-section > ul > li {
    display: inline-block;
    list-style-type: none;
    padding:72px;
    padding-top:0;
    padding-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size:16px;
    width:98px;

}
.details-section > ul > li:nth-child(3) {
    width: 96px;
}
.details-section > ul > li:nth-child(4) {
    width: 94px;
}
.details-section > ul > li:nth-child(5) {
    width: 75px;
}


/* directions / ingredients sections */

.directions-ingredients-section {
    display:flex;

}
.directions-ingredients-section h3 {
    margin-top:0;
}
 .ingredient-list > li {
    text-align: left;
    padding:8px;
    width: 200px;
    font-family: 'Montserrat', sans-serif;
    font-size:16px;
}
.direction-list {
    width:900px;
}

.direction-list > li {
    text-align: left;
    padding:13px;
    font-family: 'Montserrat', sans-serif;
    font-size:16px;
}

/* side dishes section */

aside {
    background-color: #7CBFBE;
}
aside h3 {
    padding-top:5px;
}
div > p {
    text-align: left;
    padding-left:40px;
    font-family: 'Montserrat', sans-serif;
    font-size:16px; 
}
div > h4 {
    text-align: left;
    padding-left:40px;
    margin-top:15px;
    margin-bottom:5px;
}
p.float-right {
    padding-bottom:5px;
}
.grid-container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.icon-tabler-star{
position: relative;
top:5px;
}

/* footer */ 

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer img {
    width:120px;
    height:120px;
    position: relative;
    left:-250px;
    top:30px;
}
footer p {
    position: relative;
    top: -104px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    width: 307px;
}
footer ul {
padding-top:30px;
font-size: 20px;
margin-left: -88px;
font-family: 'Bebas Neue', cursive;

}
footer svg {
    position: relative;
    left:50px;
    bottom:15px;
}
footer li {
    display: inline;
    padding:25px;
    
}
footer a {
    text-decoration: none;
    color:#EB5428;
}


/* media queries */

@media screen and (min-width: 500px) and (max-width:900px) {
    /* body setup */
body {
    width:768px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    margin-left:400px;
}
/* nav responsive */
 nav {
    width:768px;
    height:170px;
    position:absolute;
}
.medium-nav {
    position: relative;
    top:64px;
    right:261px;
}

nav li:first-child {
    position: relative;
    height: 53px;
    width: 75px;
    
}
nav li:last-child {
    position:relative;
    right:495px;
    bottom: 10px;
    font-size:12px;
}
.icon-tabler-tools-kitchen {
    position: relative;
    bottom: 9px;
    width: 50px;
    height: 50px;
}
.icon-tabler-user-circle {
    width:25px;
    height:25px;
}
.black-letter {
    font-size:16px;
    padding-top:-5px;
}

/* form responsive */

form {
    position: absolute;
    width: 768px;
    margin-right: -518px;
    top: 6px;
}
/* street tacos section */
h2 {
    padding-top:195px; 
    padding-left:15px;
    text-align: left;
    font-size: 30px;
}
.street-tacos-flex {
    display: grid;
    grid-template-columns: 1fr;
}
menu {
    height:80px;
    width:768px;
    border:0;
    background-color: rgba(255, 255, 255, 0.7);
    position:absolute;
    top:250px;
}
menu li{
    display: inline-block;
    position: relative;
    padding-left:70px;
    padding-right:70px;
    bottom:20px;
   
}
section img {
    width:768px;
    height: auto;
    padding-bottom:10px;
}
/* details section */

 .details-section {
    background: none;
    color: #0D0D0D;
    position: relative;
    top: 650px;
    width: 685px;
    left: 70px;
}

.details-section > ul > li {
    list-style-type: none;
    padding-bottom:5px;
    display: block;
    width:400px;
}

.details-section > ul {
    margin:0;
}
.details-section > h3 {
    padding-right: 34px;
    padding-top:25px;
    margin-bottom:10px;
    font-size: 30px;
} 
.details-section > ul > li:nth-child(3) {
    width: 400px;
}
.details-section > ul > li:nth-child(4) {
    width: 400px;
}
.details-section > ul > li:nth-child(5) {
    width: 400px;
}

/* directions / ingredients section */
.directions-ingredients-section {
    position: relative;
    width:768px;
    padding-top: 659px;
}
.directions-ingredients-section h3 {
    margin-bottom:-6px;
}
.ingredient-list > li {
    text-align: left;
    padding:5px;
    width: 200px;
 }
 .direction-list {
    width:460px;
 }

 div > h3 {
     text-align: center;
     padding-left:40px;
     font-size: 30px;
 }
/* more dishes aside */

aside {
    position: relative;
    top: -35px;
    width:768px;
    height:284px;
}
aside img {
    width:70px;
    height:70px;
    float:left;
}
aside  div {
    padding-bottom:20px;
}
.grid-container {
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.float-right {
   padding-left:75px;
    margin:2px;
}
div > h4 {
    text-align: left; 
    padding-bottom: 6px;
}

/* footer */
footer img {
    width: 120px;
    height: 120px;
    position: relative;
    left: -21px;
    top: -5px;
}
footer p {
    position: relative;
    top: -13px;
    left: -34px;
    font-weight: bold;
    text-align: center;
}
footer ul {
    top: -38px;
    position: relative;
    right: 18px;
    width: 400px;
    
}
footer li {
    padding:0;
}
}



@media screen and (min-width: 250px) and (max-width:500px) {
    body {
        width:414px;
        margin: 0 auto;
        text-align: center;
        background-color: white;
        margin-left:200px;
    }

    /* nav */
    nav {
        width:414px;
        height: 80px;
    }
    .medium-nav {
        display:none;
    }
    .hamburger-menu {
        display: inline-block;
        position: relative;
        left: -138px;
        top: -8px;
    }
    nav li:first-child {
        position: relative;
        left:89px;
        height: 60px;
        width: 245px;
    }
    .icon-tabler-tools-kitchen {
        position: relative;
        bottom:5px;
        width:50px;
        height:50px;
    }
    nav li:last-child {
        position: relative;
        right: 165px;
        bottom: 6px;
        font-size: 12px;
    }
    /* search bar */
    form {
        position: absolute;
        left: 212px;
        width: 414px;
        top: 94px;
    }
        
    
    /* street tacos section */
    h2 {
        padding-top:159px; 
        text-align: center;
        padding-bottom:3px;
    }
    .street-tacos-flex {
        display: grid;
        grid-template-columns: 1fr;
        height: 696px;
    }
    menu {
        height: 80px;
        width: 414px;
        border: 0;
        position: relative;
        top: -2px;
    }
    menu li{
        display: inline-block;
        position: relative;
        padding-left:25px;
        padding-right:25px;
        bottom:20px;
       
    }
    section img {
        width:414px;
        height: auto;
        padding-bottom:10px;
    }
    /* details */
    .details-section {
        background: none;
        color: #0D0D0D;
        position: relative;
        top: 444px;
        width: 630px;
        left: -101px;
    }
    .details-section > ul > li {
        list-style-type: none;
        padding-bottom:5px;
        padding-left:3px;
        width:200px;
    }
    .details-section > ul > li:nth-child(3) {
        width: 200px;
    }
    .details-section > ul > li:nth-child(4) {
        width: 250px;
    }
    .details-section > ul > li:nth-child(5) {
        width: 200px;
    }
    .details-section > ul {
        margin:0;
        text-align: left;
        padding-left: 112px;
    }

    /* directions/ingredients section */
    
    .directions-ingredients-section {
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 440px;
        width:414px;
    }
    .ingredient-list {
        width:414px;
        margin:0;
    }
    .ingredient-list > li {
        text-align: left;
        padding:5px;
        width: 200px;
     }
     .direction-list {
        width:354px;
     }
     .directions-ingredients-section h3 {
        text-align: center;
        padding:0;
     }
     /* aside ~ need more dishes? section */

     aside {
        position: relative;
        top: -35px;
        width:414px;
        height:539px;
    }
    aside svg {
        display: inline-block;
    }
     aside img {
        width:70px;
        height:70px;
        float:left;
    }
    
    aside  div {
        padding-bottom:30px;
    }
    
    .grid-container {
        display:grid;
        grid-template-columns: 1fr ;
    }
    
    .float-right {
       padding-left:75px;
        margin:2px;
    }
    
    div > h4 {
        text-align: left; 
        padding-bottom: 6px;
    } 
    
    /* footer */
    footer {
        display: grid;
        grid-template-columns: 1fr;
    }
    footer ul {
        top: -270px;
        position: relative;
        width: 400px;
        left: 33px;
    }
    footer li {
        padding:0;
    }
    footer img {
        width: 150px;
        height: 150px;
        position: relative;
        left: -3px;
        top: 89px;
    }

    footer p {
        position: relative;
    top: 91px;
    left: 14px;
    font-weight: bold;
    text-align: center;
    }
}
   /* print query */
    
   @media print {
    h1, h2, h3, h4, p {
        font-family: sans-serif;
    }
     nav ul li {
        display: none;
    }
    img {
        display:none;
    }
    .medium-nav {
        display:none;
    }
    .black-letter {
        display: none;
    }
    menu {
        display:none;
    }
    h2 {
        padding-top:0;
    }
    nav {
        box-shadow: none;
    }
    form {
        display:none;
    }
    .street-tacos-flex {
        height:0;
    }
    .details-section {
        position: relative;
        top: 200px;
        padding:0;
        right:100px;
        display: inline;
    }
   

    .directions-ingredients-section {
        position: relative;
        top: 200px;
    }
    aside {
        position: relative;
        top:300px;
        text-align: center;
    }
    aside div {
        width:300px;
    }
    footer p {
        font-family: sans-serif;
        position: relative;
        left:400px;
        top:450px;
    }
    footer ul {
        display:none;
    }
    @page {
        margin: 1.27 cm;
    }
}